In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('../pet_project/data/ass_sap.XLSX', header=2)

In [3]:
df.head()

,Счет АССОИ,Счет КИС,Код продукции(статьи) АССОИ,Имя продукции(статьи) АССОИ,Продукция КИС,Код контрагента АССОИ,Контрагент АССОИ,Код Контрагента КИС,Контрагент КИС,Валюта,Ед.Изм,Период,Год,Колонка,Значение (2 373 601),По модулю,coef,Комментарий
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BA090_08,90.101,m15031600,Катоды медные,89688,2280.0,"ПАО ""КУЗОЦМ""",1258.0,КУЗОЦМ АО,RUB*1000,NONE,111.0,2022.0,SLSSFIX,70067.0,False,NaN,"70066585,68999999800000 RUB*1000 > RUB*1000;"
3,BA090_08,90.101,m15032100,Слитки медные,651433,12375.0,СТМ ООО,208535.0,СТМ ООО,RUB*1000,NONE,111.0,2022.0,SLSSFIX,3096.0,False,NaN,"3096018,79999999980000 RUB*1000 > RUB*1000;"
4,BA090_08,90.101,m15032100,Слитки медные,695002,9950.0,"ООО ""ЛИСТ СПб""",69920.0,ЛИСТ СПБ ООО,RUB*1000,NONE,111.0,2022.0,SLSSFIX,543.0,False,NaN,"542974,15000000002000 RUB*1000 > RUB*1000;"

In [4]:
df['Продукция КИС'].fillna(0)
df = df.drop([0,1], axis=0)

In [101]:
def material_splitter(data):
    if type(data) == int:
        pass
    else:
        data = data.replace(' ', '').split(',')
    return data

In [102]:
df['Продукция КИС'] = df['Продукция КИС'].apply(material_splitter)

In [105]:
df.head()

,Счет АССОИ,Счет КИС,Код продукции(статьи) АССОИ,Имя продукции(статьи) АССОИ,Продукция КИС,Код контрагента АССОИ,Контрагент АССОИ,Код Контрагента КИС,Контрагент КИС,Валюта,Ед.Изм,Период,Год,Колонка,Значение (2 373 601),По модулю,coef,Комментарий
2,BA090_08,90.101,m15031600,Катоды медные,89688,2280.0,"ПАО ""КУЗОЦМ""",1258.0,КУЗОЦМ АО,RUB*1000,NONE,111.0,2022.0,SLSSFIX,70067.0,False,NaN,"70066585,68999999800000 RUB*1000 > RUB*1000;"
3,BA090_08,90.101,m15032100,Слитки медные,651433,12375.0,СТМ ООО,208535.0,СТМ ООО,RUB*1000,NONE,111.0,2022.0,SLSSFIX,3096.0,False,NaN,"3096018,79999999980000 RUB*1000 > RUB*1000;"
4,BA090_08,90.101,m15032100,Слитки медные,695002,9950.0,"ООО ""ЛИСТ СПб""",69920.0,ЛИСТ СПБ ООО,RUB*1000,NONE,111.0,2022.0,SLSSFIX,543.0,False,NaN,"542974,15000000002000 RUB*1000 > RUB*1000;"
5,BA090_08,90.101,m15041130,Прокат медный,"[650280, 650281, 650282, 650622, 650623, 663965]",10722.0,"ООО ""НПЦ Металлург""",66325.0,НПЦ МЕТАЛЛУРГ ООО,RUB*1000,NONE,111.0,2022.0,SLSSFIX,11807.0,False,NaN,"6168588,79999999980000 + 616319,76000000001000..."
6,BA090_08,90.101,m15041130,Прокат медный,"[651017, 651214, 651221, 652055, 652143, 65215...",10723.0,"ООО ""АЛЬМЕТ""",126128.0,АЛЬМЕТ ООО,RUB*1000,NONE,111.0,2022.0,SLSSFIX,5299.0,False,NaN,"191394,00000000000000 + 242625,60000000001000 ..."

In [106]:
df = df.explode(column='Продукция КИС')

In [120]:
material_dict_raw = df[['Код продукции(статьи) АССОИ','Продукция КИС']]

In [124]:
material_dict_raw.shape

(2190, 2)

In [122]:
material_dict = material_dict_raw.drop_duplicates()

In [130]:
material_dict.shape

(1660, 2)

In [127]:
material_dict.head()

  Код продукции(статьи) АССОИ Продукция КИС
2                   m15031600         89688
3                   m15032100        651433
4                   m15032100        695002
5                   m15041130        650280
5                   m15041130        650281

In [128]:
material_dict['Продукция КИС'] = material_dict['Продукция КИС'].astype('str')

/var/folders/18/xwlc5znx4tz1pcrtznkl3fch0000gn/T/ipykernel_14359/3546417142.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  material_dict['Продукция КИС'] = material_dict['Продукция КИС'].astype('str')

In [129]:
with pd.ExcelWriter('../pet_project/data/material_dict.xlsx') as writer:
    material_dict.to_excel(writer, sheet_name='material_row', index=False)