In [5]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
nltk.download('punkt')

text = "Hi, My name is Aman Kharwal, I am here to guide you to your journey in Machine Learning for free."
tokens = word_tokenize(text)
tokenization = [word for word in tokens if not word in stopwords.words('english')]
print(tokens)
print(tokenization)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/kirillkuznecov/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/kirillkuznecov/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

['Hi', ',', 'My', 'name', 'is', 'Aman', 'Kharwal', ',', 'I', 'am', 'here', 'to', 'guide', 'you', 'to', 'your', 'journey', 'in', 'Machine', 'Learning', 'for', 'free', '.']
['Hi', ',', 'My', 'name', 'Aman', 'Kharwal', ',', 'I', 'guide', 'journey', 'Machine', 'Learning', 'free', '.']

In [2]:
import pandas as pd

In [3]:
x = pd.read_excel('/Users/kirillkuznecov/Documents/data_science_learning/Project_3/data/star_rating(format).xlsx',index_col=0)
x

                                         hotel star_rate
0                           The May Fair Hotel       4.4
1              Mercure London Bloomsbury Hotel       3.9
2            Legend Saint Germain by Elegancia       4.4
3    Mercure Paris 19 Philharmonie La Villette       3.7
4                  Golden Tulip Amsterdam West       4.3
..                                         ...       ...
993                        Le Marceau Bastille       4.4
994         Innkeeper s Lodge London Greenwich       4.1
995                            Ambassade Hotel       4.7
996                     Kensington House Hotel       4.2
997    Shaftesbury Metropolis London Hyde Park       3.6

[998 rows x 2 columns]

In [4]:
x['star_rate'] = x['star_rate'].str.replace('.', ',')

/var/folders/1_/hgb3xg852md0hqqs3ybwbsp40000gn/T/ipykernel_43729/1285788572.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  x['star_rate'] = x['star_rate'].str.replace('.', ',')

In [5]:
with pd.ExcelWriter(
    '/Users/kirillkuznecov/Documents/data_science_learning/Project_3/data/star_rating(format_work).xlsx') as writer:
    x.to_excel(writer, sheet_name='format')