In [50]:
import pandas as pd
import requests
import datetime as DT

In [7]:
url = 'https://translom.ru/local/tools/graph/getindex.php?date_from=13.01.2023&date_to=20.01.2023'
request = requests.get(url)

In [36]:
raw_df = request.json()

In [56]:
index_df = raw_df['full_period'][0]['data']
index_list = []

for i in index_df:
    index_list.append(i[1])

In [48]:
def generate_range_dates(start_date, end_date, day_step) -> list:
    date_1 = min(start_date, end_date)
    date_2 = max(start_date, end_date)

    items = [date_1]

    while date_1 < date_2:
        date_1 += DT.timedelta(days=day_step)
        items.append(date_1)

    return items

def d2s(date):
    return date.strftime("%d/%m/%Y")

In [55]:
start_date = DT.date(2013, 1, 4)
end_date = DT.date(2023, 1, 20)
date_list = []

items = generate_range_dates(start_date= start_date, end_date= end_date,day_step=7)

for date in items:
    date_list.append(date)

date_list = pd.to_datetime(date_list)

In [70]:
data = {'date':date_list,'value':index_list}
final_df = pd.DataFrame(data)
final_df

          date  value
0   2013-01-04   8370
1   2013-01-11   8440
2   2013-01-18   8470
3   2013-01-25   8380
4   2013-02-01   8390
..         ...    ...
520 2022-12-23  16290
521 2022-12-30  16310
522 2023-01-06  16320
523 2023-01-13  16400
524 2023-01-20  17780

[525 rows x 2 columns]

In [71]:
with pd.ExcelWriter('/Users/hotdonkey/Documents/GitHub/data_science_learning/code/pet_project/data/translom.xlsx') as writer: 
    final_df.to_excel(writer, sheet_name='dinamic')